/* Font */

@font-face {
    font-family: 'Dala Moa';
    src: url('Dala Moa/DalaMoa.eot');
    src: local('Dala Moa'), local('DalaMoa'),
        url('Dala Moa/DalaMoa.eot?#iefix') format('embedded-opentype'),
        url('Dala Moa/DalaMoa.woff') format('woff'),
        url('Dala Moa/DalaMoa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Dala Moa';
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* Navbar */

.navbar {
    overflow: hidden;
    position: relative;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar-list {
    position: absolute;
    height: 100vh;
    width: 80vw;
    margin-top: 40px;
    right: -200px;
    top: 0;
    list-style-type: none;
    background-color: white;
    display: block;
    z-index: 100;
}

.nav-links,
.logo {
    text-decoration: none;
    color: black;
}

.navbar-list li {
    text-align: center;
    margin: 15px auto;
}

.navbar-list :nth-child(1) {
    margin-top: 50px;
}

.logo {
    display: inline-block;
    font-size: 22px;
}

.logo img {
    margin: 0;
    padding: 0;
    height: 50px;
}

.search {
    height: 50px;
    margin: 0;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: black;
    font-size: 24px;
}

.active {
    right: 0;
    top: 0;
    display: block;
    transition: ease-in .3s;
}

.active-overflow {
    overflow: visible;
}

.active-link {
    color: #EE6648;
}

/* Carousel */

.carousel {
    position: relative;
    width: 100vw;
    margin: auto;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
}

.carousel-item img {
    display: block;
    width: 100vw;
    height: 30vh;
    object-fit: cover;
}

.carousel-control {
    background-color: #EE6648;
    padding: 6px 0;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 20px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    color: rgb(235, 235, 235);
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin-bottom: -50px;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: rgb(224, 224, 224);
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: rgb(238, 102, 72);
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #EE6648;
}

/* Featured Events */

.hide {
    display: none;
}

.featured-heading,
.events-heading,
.contacts-heading,
.newsletter-heading {
    padding: 2em 1em 1em;
    margin: auto;
    text-align: center;
}

.featuredMain,
.eventsMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.featuredEvent,
.eventsEvent {
    border-radius: 50px 50px 0 0;
    margin-bottom: 2em;
    border: 1px solid rgba(128, 128, 128, 0.36);
    width: 80vw;
}

.featured-img-event,
.events-img-event {
    border-radius: 40px 40px 0 0;
    height: 30vh;
    width: 80vw;
    object-fit: cover;
}

.featured-container,
.events-container {
    font-family: "Times New Roman", Times, serif;
    padding: 1em;
}

.featured-paragraph,
.events-paragraph {
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    word-spacing: 5px;
}

.featured-title,
.events-title {
    font-family: 'Dala Moa';
    font-size: 1.7em;
}

.featured-artist,
.events-artist {
    color: #EE6648;
    font-size: 1.2em;
}

.featured-dates,
.events-dates {
    color: gray;
    padding: .5em 0;
    font-size: 1em;
}

.text-center {
    text-align: center;
}

.read-more {
    cursor: pointer;
    color: #EE6648;
    float: right;
    padding: 1em 0;
}

.arrow-read {
    line-height: 10px;
}

.event-image {
    border-radius: 0;
}

/* One Event */

.oneEvent {
    margin: 2em 0 0;
    height: auto;
}

.paragraph {
    font-size: 1em;
    overflow: visible;
    display: block;
    white-space: pre-line;
}

.container {
    padding: 2em 1em;
}

.title {
    text-align: center;
    padding: 0.5em 0;
}

.artist {
    text-align: center;
    padding-bottom: 0.7em;
}

.dates {
    text-align: center;
    padding-bottom: 1em;
}

.prices {
    color: #EE6648;
    padding-top: 1em;
    float: right;
}

.back {
    max-width: 100vw;
    text-align: center;
    cursor: pointer;
    color: #EE6648;
    margin: auto;
}

/* Thumbnail */

.thumbnail img {
    display: block;
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    object-position: center;
}

/* Calendar */

.filters {
    display: grid;
    grid-template-columns: auto 80vw auto;
    grid-template-rows: auto;
    grid-template-areas: ". calendar ."". filters .";
}

.date-picker {
    grid-area: calendar;
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 320px;
    background-color: white;
}

.selected-date {
    visibility: hidden;
}

.date-picker .selected-date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 28px;
    color: black;
}

.date-picker .dates {
    display: block;
    background-color: white;
}

.date-picker .dates .months {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid cornsilk;
}

.date-picker .dates .months .arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: black;
    transition: ease-in .3s;
}

.date-picker .dates .months .arrows:hover {
    background-color: #EE6648;
    color: white;
}

.date-picker .dates .months .arrows:active {
    background-color: #EE6648;
    color: white;
}

.date-picker .dates .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: .2em;
    height: 200px;
}

.date-picker .dates .days .day {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EE6648;
    color: white;
    border: 1px solid white;
    transition: ease-in .3s;
}

.date-picker .dates .days .day:hover {
    background-color: white;
    color: #EE6648;
    border: 1px solid #EE6648;
}

.date-picker .dates .days .day.selected {
    background-color: white;
    color: #EE6648;
    border: 1px solid #EE6648;
}

/* Calendar filter buttons */

.showPast,
.showAll,
.showCurrent {
    cursor: pointer;
    margin: 1em auto;
    padding: .1em;
    background-color: white;
    color: #EE6648;
    border: 1px solid white;
    transition: ease-in .3s;
}

.showPast:hover,
.showAll:hover,
.showCurrent:hover {
    background-color: #EE6648;
    color: white;
    border: 1px solid white;
    transition: ease-in .3s;
}

/* Filter selects */
.event-filters {
    grid-area: filters;
    margin: auto;
}

select {
    background-color: white;
    border-top: thin solid white;
    border-right: thin solid white;
    border-left: thin solid white;
    border-bottom: thin solid #EE6648;
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    width: 80vw;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:focus {
    outline: none;
}

.dropdown-menu {
    position: relative;
    overflow: hidden;
    max-width: 80vw;
    border-radius: 3px;
    margin: 2em 0;
}

.dropdown-menu:after {
    content: "\25bc";
    color: #EE6648;
    font-size: 15px;
    padding: 12px 8px;
    position: absolute;
    right: 10px;
    top: 0;
    text-align: center;
    pointer-events: none;
}

/* Paragraphs - Contact Us and Newsletter */

.email-link {
    color: #EE6648;
}

.bold {
    font-weight: bold;
}

.contacts-paragraph,
.newsletter-paragraph {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    margin: 2em;
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.email-input {
    width: 90vw;
    border: 1.5px solid #EE6648;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.email-button {
    width: 20vw;
    margin: 2em auto;
    padding: 5px;
    color: white;
    background-color: #EE6648;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.email-button a {
    color: white;
}

.email-arrow,
.event-arrow {
    width: 20vw;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-hide {
    display: none;
}

/*ADS*/

.ads {
    padding: 5vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ads a {
    padding-left: 1vh;
    padding-right: 1vh;
}

/*FOOTER MOBILE*/

.footer-mobile {
    background-color: #EDEDED;
    padding: 5vh;
    text-align: center;
    line-height: 2em;
    font-family: 'Times New Roman', Times, serif;
}

.footer-mobile h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    padding-bottom: 1em;
    font-weight: 200;
    font-family: 'Dala Moa';
}

.some-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1.5em;
}

.some-icons {
    width: 70px;
    height: auto;
}

footer address {
    font-style: normal;
}

.footer-mobile .footer-links {
    color: #EE6648;
}

 .footer-desktop{
        display: none;
    }

/* Media Queries */

@media only screen and (min-width: 768px) {

    /* Navigation */
    .navbar {
        overflow: visible;
        position: inherit;
        display: flex;
        justify-content: space-between;
        height: 70px;
        align-items: center;
    }

    .navbar-list {
        position: inherit;
        height: auto;
        width: auto;
        display: flex;
        margin-right: 30px;
        margin-top: 0;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .navbar-list li {
        margin: 0;
    }

    .navbar-list :nth-child(1) {
        margin-top: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
        margin-left: 20px;
    }

    .logo img {
        height: 70px;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: #EE6648;
    }

    /* Events */

    .text-center {
        text-align: left;
    }

    .mobile-hide {
        display: -webkit-box;
    }

    .paragraph {
        font-size: 1.5em;
    }

    /* Text for Contacts Us and Newsletter */

    .contacts-paragraph,
    .newsletter-paragraph {
        font-size: 1.5em;
        margin: 2em 5em;
    }

    .newsletter {
        flex-wrap: nowrap;
        margin: auto 5em;
    }

    .email-input {
        width: 50vw;
    }

    .email-button {
        width: 15vw;
        margin: 1em;
        font-size: 1.1em;
    }

    .email-arrow,
    .event-arrow {
        width: 15vw;
    }
    .footer-desktop{
        display: none;
    }
}

@media screen and (min-width: 992px) {

    /* Featured Events */
    .featuredEvent {
        display: flex;
        border-radius: 50px 50px 0 0;
        max-width: 70vw;
        min-height: 300px;
        max-height: 40vh;
        overflow: hidden;
    }

    .featured-img-event {
        border-radius: 50px 0 0 0;
        max-width: 35vw;
        min-height: 300px;
        max-height: 40vh;
        object-fit: cover;
    }

    .featured-container {
        padding: 2em;
    }

    .featured-paragraph,
    .events-paragraph {
        -webkit-line-clamp: 7;
    }

    /* Events List */

    .eventsMain {
        margin: 0 10vw;
        align-items: stretch;
    }

    .eventsEvent {
        max-width: 30vw;
    }

    .events-img-event {
        width: 30vw;
    }

    /* One Event */
    .oneEvent {
        max-width: 70vw;
        padding: 3em;
    }

    .title {
        padding: 0 3em 0 0;
        display: inline;
    }

    .artist {
        padding: 0 0 0 3em;
        float: right;
    }

    .dates {
        text-align: left;
    }

    .paragraph {
        font-size: 1.2em;
    }

    /* Calendar */

    .filters {
        display: grid;
        grid-template-columns: auto 40vw 40vw auto;
        grid-template-rows: auto;
        grid-template-areas: ". calendar filters .";
    }

    select {
        width: 30vw;
    }

    .dropdown-menu {
        max-width: 30vw;
    }

    /* Text for Contacts Us and Newsletter */

    .contacts-paragraph {
        margin: 2em 15em;
    }

    .newsletter-paragraph {
        margin: 2em 20em;
    }

    .email-input {
        width: 35vw;
    }

    .email-button {
        width: 10vw;
        margin: 1em;
        font-size: 1.1em;
    }

    .email-arrow,
    .event-arrow {
        width: 5vw;
    }

       /*FOOTER DESKTOP*/
    .footer-mobile{
        display: none;
    }

    .footer-desktop {
    background-color: #EDEDED;
    padding: 5vh;
    text-align:start;
    line-height: 2em;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
        flex-direction: row;
        justify-content:center;
        flex-wrap: wrap;

    }
    .fotter-desktop-about, .footer-desktop-contact, .footer-desktop-follow {
    width: 15vw;
        margin-left: 5vw;
        margin-right: 5vw;
}

    .footer-desktop-follow{
        margin-right: 0vw;
    }
    .footer-desktop-contact{
        width: 20vw
    }

.footer-desktop h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    padding-bottom: 1em;
    font-weight: 200;
    font-family: 'Dala Moa';
}

.some-container {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    padding-bottom: 1.5em;
}

.some-icons {
    width: 70px;
    height: auto;
}

footer address {
    font-style: normal;
}

.footer-desktop .footer-links {
    color: #EE6648;
}

}
