/* Font */

@font-face {
    font-family: 'DalaFlodaWeb-RomanNo-2';
    src: url('DalaFloda/DalaFlodaWeb-RomanNo-2.eot?#iefix') format('embedded-opentype'),  url('DalaFloda/DalaFlodaWeb-RomanNo-2.woff') format('woff'), url('DalaFloda/DalaFlodaWeb-RomanNo-2.ttf')  format('truetype'), url('DalaFloda/DalaFlodaWeb-RomanNo-2.svg#DalaFlodaWeb-RomanNo.2') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DalaFlodaWeb-RomanNo-2";
  overflow-x: hidden;
}

/* Navbar */

.navbar {
    overflow: hidden;
    position: relative;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.navbar-list {
    position: absolute;
    height: 100vh;
    width: 80vw;
    margin-top: 40px;
    right: -200px;
    top: 0;
    list-style-type: none;
    background-color: white;
    display: block;
    z-index: 100;
}

.nav-links,
.logo {
  text-decoration: none;
  color: black;
}

.navbar-list li {
  text-align: center;
  margin: 15px auto;
}

.navbar-list :nth-child(1) {
    margin-top: 50px;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: black;
  font-size: 24px;
}

.active {
    right: 0;
    top: 0;
    display: block;
    transition: ease-in .3s;
}

.active-overflow {
    overflow: visible;
}

.active-link {
    color: #EE6648;
}

/* Carousel */

.carousel {
    position: relative;
    width: 100vw;
    margin: auto;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
}

.carousel-item img {
    display: block;
    width: 100vw;
    height: 30vh;
    object-fit: cover;
}

.carousel-control {
    background-color: #EE6648;
    padding: 6px 0;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 20px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    color: rgb(235, 235, 235);
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin-bottom: -50px;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: rgb(224, 224, 224);
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: rgb(238, 102, 72);
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #EE6648;
}

/* Featured Events */

.hide {
  display: none;
}

.featured-heading {
  padding: 2em 1em 1em;
  margin: auto;
  text-align: center;
}

.featuredMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.featuredEvent {
  border-radius: 50px 50px 0 0;
  margin-bottom: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 80vw;
}

.featured-img-event {
  border-radius: 50px 50px 0 0;
  width: 80vw;
}

.featured-container {
  font-family: "Times New Roman", Times, serif;
  padding: 1em;
}

.featured-paragraph {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-spacing: 5px;
}

.featured-title {
  font-family: "DalaFlodaWeb-RomanNo-2";
  font-size: 1.7em;
}

.featured-artist {
  color: #EE6648;
  font-size: 1.2em;
}

.featured-dates {
  padding: .5em 0;
  font-size: 0.8em;
}

.read-more {
  color: #EE6648;
  float: right;
  padding: 1em 0;
}

.arrow-read {
  line-height: 10px;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  /* Navigation */
  .navbar {
    overflow: visible;
    position: inherit;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .navbar-list {
    position: inherit;
    height: auto;
    width: auto;
    display: flex;
    margin-right: 30px;
    margin-top: 0;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navbar-list li {
    margin: 0;
  }

  .navbar-list :nth-child(1) {
    margin-top: 0;
}

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: #EE6648;
  }

  /* Featured Events */
  .featuredEvent {
    display: flex;
    border-radius: 50px 50px 0 0;
    max-width: 60vw;
    max-height: 40vh;
  }
  
  .featuredEvent:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .featured-img-event {
    border-radius: 50px 0 0 0;
    max-width: 30vw;
    height: 40vh;
    object-fit: cover;
  }

  .featured-container {
    padding: 2em;
  }

  .featured-paragraph {
    -webkit-line-clamp: 7;
  }
}